  <section>
      <div class="container mt-5" style="width: 600px;">
          <form>
            <div class="d-flex justify-content-center mb-3">
              <h2 style="font-weight: 500;">Login</h2>
              </div>
  <div class="mb-3" >
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
 <div class="mb-3 d-flex justify-content-between">
   <a href="/signup">Create an Account</a>
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>
</div>
</section>