  <section>
      <div class="container mt-5">
        <div class="row mt-5 mb-5">
          {{#each products}}
            <div class="col-md-3 mt-5">
              <div class="card" >
                <img  src="/product-images/{{this._id}}.jpg" alt="" />
                <div class="card-body">
                  <h5 class="card-title">{{this.Name}}</h5>
                  <p class="card-text">{{this.Description}}</p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </section>
